
body{
  background-color:black;
}

#head{
  color:white;
  font-size:60px;
  margin:20px;
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}
.Message-box{
  float:right;
  border:2px solid darkslateblue;
  border-style:ridge;
  border-radius:25px;
  width:40%;
  position: absolute;
  top:10px;
  right:10px;
  background: linear-gradient(to right,  white 0%, #c9d1d4 50%,#cad1d4 50%,#9c9e9f 100%);
  opacity:0.7;
  max-height:490px;
  overflow-y: auto;
  margin-top: 125px;
}

#messages{
  width:90%;
  font-size:14 px;
  /* max-height:inherit;
  overflow:auto; */
}

#commentBox{
  width:95%;
  margin:2px;
  margin-left:0.5 px;
  border-style: solid;
  border-width: 1px;
  padding: 5px; 
  border-radius:15px;
  resize: none;
  padding: 5px 10px;
  height: 40px;
  font-family: 'Lato', sans-serif;
	font-size: 14px;
  color: black;
  flex: 1;
  border: none;
  background: rgba(61, 79, 158, 0.1);
  border-bottom: 1px solid rgba(173, 26, 26, 0.09);
  outline:none;
}


#greet{
  font-size:20px;
  margin-left:10px;
}

#userButton{
  display:inline-block;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
  left:60%;
  bottom:40px;
}

/* youtube player css */

.search-bar{
  margin: 20px;
  width:98%;
  margin-left:20px;
}

.search-bar input{
  height:40px;
  font-size:20px;
  width: 50%;
}

.video-item img{
  max-width: 64px;
  width:50%;
}

.video-detail .details{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width:50%;
  background-color:rgb(47, 50, 51);
  color: white;
  margin-left:20px;
}

.list-group-item{
  cursor: pointer;
  list-style-type:none;
}

.list-group-item:hover{
  background-color: #eee;
}

.video-list-media{
  width: 90%;
  background-color:black;
  color: white;
  text-align:left;
  padding:15px;
  border-bottom: 2px solid white;
  margin-left:-10px;
  font-size:12px;
}
.video-list-media:hover {
  background-color: white;
  color: black;
  height: 100%;
  width: 90%;
}


.embed-responsive-item{
  width:50%;
  height:400px;
  margin-left: 20px;
}

.description{
  font-size:12px;
}

/* loginlogout */
.container {
  color:white;
  font-size:20px;
  text-transform:uppercase;
  text-align:center;
  background-image: url('assets/canon.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  background-position-x: calc(50%);
  padding: 20px;
  border: 10px;
  border-radius: 10px;
  width: 400px;
  margin: 40px auto;

}

.form-input {
  padding: 5px;
  color: black;
  display: block;
  margin: 0 auto;
  margin-top: 2px;
  width: 280px;
  height: 25px;
  border: 10px;
  border-radius: 10px;
  font-size: 18px;
  

}
.submitButton {
  background-color: rgb(4, 27, 230);
  color: white;
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  border: 10px;
  border-radius: 10px;
  margin: 6px 3px 3px 3px;
}

.logoutButton {
  background-color: rgb(255, 5, 5);
  color: white;
  width: 100px;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border: 10px;
  border-radius: 10px;
  margin: 2px 15px 10px 0;
  float: right;
  position: relative;
  top: -50px;
}

#youtube-logo {
  color: rgb(203, 219, 255);
  font-size: 40px;
  margin: 0 0 20px 30px;
}

#welcome {
  color:white;
  float:right;
  position:relative;
  top:-20px;
  right:-100px;
}